.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* grid-template-columns: repeat(1, 1fr); */


    gap: 10px 20px;
}

.card {
    width: 350px;
    height: 200px;
    background-color: green;
    margin: 10px;
}

.card {
    width: 350px;
    height: 400px;
    background-color: red;
}

/* .item-b {
    grid-column-start: 1;
    grid-column-end: span col4-start;

} */

/* .container { */
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-columns: 1fr 50px 1fr 1fr; */

/* } */

/* .container {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    gap: 15px 10px;
} */